body{
  background-color: grey;
  margin: 0;
  padding: 0;
  font-family: "Freestyle Script", "Gabriola", Helvetica, Arial, sans-serif;
  color: #0A5709;
}

/*
 *Formatting the header area
 */

 header{
   background-color: #3C4554;
   height: 80px;
   width: 100%;
   opacity: .9;
   margin-bottom: 10px;
 }

 header h1.logo{
   margin: 2;
   font-size: 2.0em;
   color: #E3BC65;
   text-transform: uppercase;
   float:left;
 }

header h1.logo:hover {
  color: #E71414;
  text-decoration: none;
}

/*
 * Center the body content
 */

 .container {
   width: 1100px;
   margin: 0 auto;
 }


div.home {
  background-image: url("../images/w165.jpg");
  background-repeat: no-repeat;
  background-size: 850px 480px;
  background-position:  top right;
  padding: 300px 0 1000px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30x;
         -border-radius: 30px;
  opacity: 0.8;
}

div.about {
  padding: 300px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30x;
         -border-radius: 30px;
  opacity: 0.4;
}

.menu {
  float: right;
  margin-top: 30px;
}

.menu li {
  display: inline;
  font-size: 1.5em;
  font-weight: lighter;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #F77E0C;
  text-decoration: none;
}
